body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(cyan, purple);
}

.card {
    background-color: aliceblue;
    width: 400px;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: 0.2s, ease-in-out;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 13px rgba(0, 0, 0, 0.22)
}

.container {
    display: flex;
    justify-content: center;
}

.card footer {
    background-color: blue;
    border: 1px;
    color: white;
    padding: 10px;
    margin-top: auto;
    text-align: center;
}