body {
    margin: 0;
}

.navbar {
    background-color: blanchedalmond;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    
}

.navlink {
    color: rgb(75, 74, 74);
    font-size: 1rem;
    text-decoration: none;
    margin: 30px;
}

.right {
    margin-left: auto;
}