body {
    font-family: 'Poppins', sans-serif;
}
.project {
    position: relative;
}

.navbar .right img {
    width: 24px;
    height: 24px;
}

.navbar .hamburger {
    height: 30px;
    width: 30px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.mobilenav {
    width: 80px;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -100px;
    padding: 16px;
    transition: transform 0.5s;
}

.mobilenav img {
    width: 24px;
    height: 24px;
    margin: 16px 0;
    
}

.mobilenav a {
    text-decoration: none;
    color: black;
    margin: 16px 0;
}

.mobilenav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.openDrawer {
    transform: translateX(-100px);
}

.navbar .bar1,.bar2,.bar3 {
    background-color: black;
    height: 3px;
    width: 28px;
    margin: 3px;
    border-radius: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
    margin: 0 auto;
    max-width: 100%;
}

.navbar .left {
    font-size: 32px;
    font-weight: bold;
}

.navbar .right a {
    text-decoration: none;
}

.navbar .right a:hover {
    text-decoration: underline;
}

.navbar .right {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid_container {
    display: grid;
    grid-template-areas:
    "eth eth alphabet"
    "eth eth traveler"
    "astro cube traveler"
    "cup insta insta"
    "cup insta insta"
    "foam foam dimensional"
    "foam foam dimensional";
    grid-gap: 10px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

}

#foam {
    grid-area: foam;
}

#dimensional {
    grid-area: dimensional;
}

#cup {
    grid-area: cup;
}

#insta {
    grid-area: insta;
}

#astro {
    grid-area: astro;
}

#traveler {
    grid-area: traveler;
}

#cube {
    grid-area: cube;
}

#eth {
    grid-area: eth;
}

#alphabet {
    grid-area: alphabet;
}

.project img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.project .overlay {
    background-color: rgb(255,255,255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0;
    transition: all 0.2s;
}

.project .overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.overlay.white {
    color: white;
}
@media only screen and (min-width: 1000px) {
.navbar .hamburger {
    display:none;
}
}

@media only screen and (max-width: 1000px) {

.navbar {
    box-sizing: border-box;
    padding: 24px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: white;
    width: 100%;
}

.navbar .right {
    display: none;
}
.grid_container {
    max-width: 100%;
    grid-template-areas:
        "eth eth"
        "alphabet traveler"
        "cube astro"
        "insta insta"
        "cup foam"
        "dimensional ."
        "dimensional .";
    }
    .project .overlay {
        font-size: 20px;
    }
    .footer {
        font-size: 12px;
        padding: 16px;
    }


.footer {
    font-weight: bold;
    text-align: center;
    padding: 32px;
}

.animateBar1 {
    animation: flipbar1 1s;
    animation-fill-mode: forwards;
}

.animateBar2 {
    animation: fadebar2 1s;
    animation-fill-mode: forwards;
}

.animateBar3 {
    animation: flipbar2 1s;
    animation-fill-mode: forwards;
}

@keyframes fadebar2 {
    from {
        transform: scaleX(1);
        opacity: 1;
    }
    to{
        transform: scaleX(0);
        opacity: 0;
    }
    
}


@keyframes flipbar1 {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(45deg) translate(4px, 10px);
    }
}

@keyframes flipbar2 {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(-45deg) translate(4px, -10px);
    }
}
}